*{ margin:0; padding:0}
body{ background-image:url(imge/bg.png); background-repeat: no-repeat;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; line-height:20px;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; margin-bottom:15px;}
a, a:active, a:focus, a:active {text-decoration:none !important}
.fix{ overflow:hidden}
.floatleft{ float: left}
.floatright{ float:right}
img{ max-width:100%; border:none;height:auto}
.structure{ width:960px; margin: 0 auto; padding: 0px;display:block;transition: all 0.6s ease 0s;-moz-transition: all 0.6s ease 0s;-webkit-transition: all 0.6s ease 0s;-o-transition: all 0.6s ease 0s;}
